<ion-view title="Unibee" id="page1" style="background-color:#EAE8E8;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/yeJA0GMMSM6yZJ4Yh0JL_unibee_icon.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <h2 id="unibee-heading1" style="color:#000000;text-align:center;">Welcome to Unibee</h2>
    <div id="unibee-markdown1" style="text-align:center;">
      <p style="color:#000000;">With UniBee, you can collaborate on projects and share them in real time.</p>
    </div>
    <form id="unibee-form2" class="list">
      <label class="item item-input" id="unibee-input4">
        <span class="input-label">Username</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="unibee-input5">
        <span class="input-label">Password</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <a ui-sref="dashboard" id="unibee-button4" class="button button-energized  button-block">로그인</a>
  </ion-content>
</ion-view>